<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>AMI Salon Prejudging</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <link href="/css/app.css" rel="stylesheet" type="text/css" >


    <script  type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"  >
    <script  type="text/javascript"  src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- <script src="/public/js/radioAndSubmit.js" type="text/javascrip"></script> -->

  </head>

  <body>

    <nav class="navbar navbar-expand-sm  headerNav">
     <div class="container-fluid">
       <div class="col-10">
            <div class="navbar-brand"> <img src="/images/logo.png" href="/home"></div>
            <h3 class="navbar-text text-center"> AMI Salon Judging Portal</h3>
       </div>
       <div class="col-2">
        <ul class="">
          <% if(!currentUser){ %>
            <li class=" userProfileStatus nav-link"> <a href="/login">Login</a></li>
            <!-- <li class="nav-item"><a href="/register" class="nav-link">Register</a></li> -->
          <%  } else{   %>
            <li class=" userProfileStatus ">
               <!-- <img src="/images/svg/avatar.svg" alt="avatar"> -->
              <a href="/profile/<%= currentUser.id %>" class="orange font-weight-bold nav-link">
              
                <%= currentUser.username %>
                  
                <% if(currentUser.isAdmin){ %>
                  <span class="midgrey inline">Admin</span> 
                <% } %>
         
             </a> 
           </li>
            <li class=" userProfileStatus"><a href="/logout" class="nav-link midgrey">Logout</a></li>
          <% } %>
         
        </ul>
       </div>
      </div>
   
  
     
    </div>
  </nav>

  <nav id="pageNav" class="navbar navbar-expand-md ">
    <div class="container-fluid">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" ></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
      
              <% if(!currentUser){ %>

              <%  } else{   %>
                <li class="nav-item dropdown myCategories">
                  <a class="nav-link dropdown-toggle myCategories" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= currentUser.username %>'s Judging Catergories
              <% } %>
            </a>
           
              <% if(currentUser){ %>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                <% currentUser.assignedCategories.forEach(category => { %>
                  <a class="dropdown-item" href="/artentries"><%= category.letter %>: <%= category.name %> </a> 
               <% }); %>
              </div>
              <%  } %>    
                  
         
          </li>
          <li class="nav-item dropdown guidelines">
            <a class="nav-link dropdown-toggle guidelines" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Guidelines
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
              <a class="dropdown-item" href="guidelinesPrejudging">Guidelines for Salon Prejudging</a>
              <a class="dropdown-item" href="generalGuidelines">General Salon Judging Guidelines </a>
            </div>
          </li>
          <li class="nav-item ">
            <a class="nav-link dropdown-toggle-off" href="/judgingGroups">
            Judging Groups
            </a>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle-off" href="/awardWinners">
                Award Winners
              </a>
          </li> 
          <li class="nav-item dropdown appendix">
            <a class="nav-link dropdown-toggle appendix" href="#" id="navbarDropdown5" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Appendices
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
              <a class="dropdown-item" href="/appendixA">Appendix A</a>
              <a class="dropdown-item" href="/appendixB">Appendix B</a>
            </div>
        </li>    
        </ul>
        <a href="/index"> <img src="/images/svg/home.svg" alt="Home button"><a>

      </div>
    </div>
  </nav>
  <script src="/js/navHover.js"></script>


  <div class="container">
    <% if(error && error.length > 0){ %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= error %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% } %>
    <% if( success && success.length > 0){ %> 
      <div class="alert alert-success alert-dismissible fade show" role="alert">
          <%= success %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
    <% } %>
  </div>

  
