<%- include('partials/header')%>


<script>
    //active menu highlight
    $(document).ready(function(){
      $('li.nav-item.dropdown.myCategories').attr("style", "background-color:orange;");
      $('a.nav-link.dropdown-toggle.myCategories').attr("style", "color:#fff;");
      // document.querySelector('div#item36 img').parentElement.parentElement.style.border = "thin solid #467946";
    });
  </script>

<h1  class="fullSpan">My judging category:  <%= artentries[0].category %> </h1>
<article class="appendixContainer">
  <p class="alert alert-warning alert-dismissible fade show" role="alert">The goal is to have this page dynamically populate from the submissions on AMI.org via the dropbox folders  
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </p>



   <!-- <div class="winVar" data=""> <script>window.localStorage.getItem('category')</script></div>
 <script> console.log($('div.winVar').html())</script> -->
   <div class="row entries">
    <% for( let i = 0 ; i < artentries.length -1 ; i++){  
       if( artentries[i].category === "B"){   %>

       
      <div class="col-md-4 `col-sm-6 mt-5" id="item<%= i %>">
        <div class="img-thumbnail " >
      
          <a src="/artentries/<%= artentries[i]._id %>">  
            <img src="<%= artentries[i].image%>" class="card-img-top" alt="Image for scoring" > </a> 
        </div>
        <div class="artEntriesTitle">
           
            <h5>
               <%=  artentries[i].title.substring(0,50) %>...
            </h5>
            <p> <div class="orange font-weight-bolder threeQuarterRem ">Primary Audience: </div> <%= artentries[i].primaryAudience %></p>
            <!-- <p> <div class="orange font-weight-bolder threeQuarterRem ">Medium/Software: </div><%= artentries[i].medium_software %></p> -->
            <p> <div class="orange font-weight-bolder threeQuarterRem ">Category: </div><%= artentries[i].category %></p>
            <p> <div class="orange font-weight-bolder threeQuarterRem ">Intended purpose: </div><%= artentries[i].intended_purpose.substring(0,50) %>... </p> 
           
         

          <%  for( let j = 0 ; j < score.length -1 ; j++){  
              if(artentries[i]._id === score[j].entryId){   %>
             
         <%   }else{  //} if(score[j].complete !== true ){ %>
        
            <div class="scoreThisEntry">   <a href="/artentries/<%= artentries[i]._id %>"  name="<%= artentries[i]._id %>"  class="btn btn-primary lg"> Score this entry</a></div> 
            <% }
           } %>
        </div>
      </div>
      <% } %>
    <% };  %>  
    
  </div>
</div>
</article>


<%- include ('partials/footer') %>
