<%- include('partials/header.ejs') %>


<script>
    //active menu highlight
     $(document).ready(function(){
            $('a[href="/awardWinners"]').attr("style", "background-color:orange; color:#fff;");
         });
  </script>






<% if( currentUser != currentUser.Admin){ %>

  <h1  class="fullSpan"> Award Submissions: <span class="white">Group <%= currentUser.judgingGroup.substring(currentUser.judgingGroup.length, currentUser.judgingGroup.length-1) %></span> </h1>
    <div class="centerTextContainer p-3 "  >
   
                <h1 class="text-left">  <% for(let i =0 ; i < JudgeGroups[currentUser.judgingGroup].length  ; i++){  %>
                
            
          </h1> <div class="awardContainer p-3 ">
              <div class="awardBgRow bg">
                  <h2 class="text-left pt-3 pl-4">
                      <%=JudgeGroups[currentUser.judgingGroup][i].letter+ ": " + categorySpecifics[i].type.trim() + " " + categorySpecifics[i].subtype.trim() + " " +  categorySpecifics[i].specific.trim() %> </h2>
                      
                  <form action="/awardWinners" method="POST" class="Award_of_Excellence">
                        <label for="Award_of_Excellence"> Award of Excellence:        </label>
                    <select name="Award_of_Excellence" id="Award_of_Excellence"  onchange="addExcellenceWinner()")>
                      <option>   --Select an entry-- </option>
                      <% for( let j = 0; j < artentries.length ; j++){ 
                          if( JudgeGroups[currentUser.judgingGroup][i].letter  === artentries[j].category){ %>
                        <option  categoryId=" <%= letterIndex.findIndex( i => i  === artentries[j].category)%>" id="excellenceWinner"   value="<%= artentries[j].id %>"  id="<%=JudgeGroups[currentUser.judgingGroup][i].letter%>" > <%= artentries[j].title %></option>
                      <% } %> 
                      <% } %> 
                    </select> 
                  </form> 
                  
              </div>
            
                  <br>
              <div id="AwardOfMerit">
                  <form action="/awardWinners" method="POST" class="Award_of_Merit">
                       
                            <label for="Award_of_Merit"> Award of Merit:        </label> 
                    <select name="Award_of_Merit" id="Award_of_Merit"  onchange="addMeritWinner()">
                      <option>   --Select an entry-- </option>
                     <% for( let j = 0; j < artentries.length ; j++){
                         let category = artentries[j].category;
                          if( JudgeGroups[currentUser.judgingGroup][i].letter === artentries[j].category){ %>  
          
                       <option categoryId=" <%= letterIndex.findIndex( i => i  === artentries[j].category)%>"  id="meritWinner"  value="<%= artentries[j].id %>" >   <%= artentries[j].title %> </option>
                      <% } %>  
                      <% } %> 
                    </select>

                  <hr class="award">
          </div> 
        </div> 



      <script>


        function addExcellenceWinner(){  
           
                     
                const select = event.target;
                const value = select.value;

              const removeFirst = select.selectedOptions[0].text;
              let excellenceWinner;
                if( removeFirst != "--Select an entry--"){
                   excellenceWinner = select.selectedOptions[0].text;
                }
              const category  = excellenceWinner.split("-")[0];
               const excellenceEntryId = event.target.value;

                let newWinner =  `<h4 class="winnerList" >` +
                                     excellenceWinner   +
                                  `</h4> <img src="images/svg/x.svg" class="removeAward" onclick="removeAwardExcellence()"  alt="X remove item"> `;
              let newDiv = document.createElement('div');
              newDiv.setAttribute('class', ' winner btn btn-success');
              newDiv.innerHTML = newWinner;
               let selectLabel= document.querySelector('label[for="Award_of_Excellence"]');
               selectLabel.appendChild(newDiv);


              $.ajax('/awardWinners', {
              type: 'POST', 
              data: {
                    category: category,
                    excellenceEntryId: excellenceEntryId,
                    excellenceWinner: excellenceWinner,
                  },
              dataType: 'json',
              success: function (data, status, xhr) {
                 
              },
              error: function (jqXhr, textStatus, err) {
                  console.log("ajax  notes and submit: " + err.message + "id:" + entryId);
                  }
              });

             

             
          
          }



    function addMeritWinner(){  

              const select = event.target;
              const value = select.value;
 
              const removeFirst = select.selectedOptions[0].text;
              let meritWinner;
                if( removeFirst != "--Select an entry--"){
                  meritWinner = select.selectedOptions[0].text;
                }
              const category  = meritWinner.split("-")[0];
              const meritEntryId = event.target.value;
          
              
              let newWinner =  `<h4 class="winnerList" >` +
                                 meritWinner   +
                                  `</h4> <img src="images/svg/x.svg" class="removeAward" onclick="removeAwardExcellence()"  alt="X remove item"> `;
              let newDiv = document.createElement('div');
              newDiv.setAttribute('class', ' winner btn btn-success');
              newDiv.innerHTML = newWinner;
               let selectLabel= document.querySelector('label[for="Award_of_Merit"]');
               selectLabel.appendChild(newDiv);


     
              $.ajax('/awardWinners', {
              type: 'POST', 
              data: {
                    category: category,
                    meritEntryId: meritEntryId,
                    meritWinner: meritWinner,
                   },
              dataType: 'json',
              success: function (data, status, xhr) {

              },
              error: function (jqXhr, textStatus, err) {
                  console.log("ajax  notes and submit: " + err.message + "id:" + entryId);
                  }
              });
        

            }


          function removeAwardExcellence(){

            }

      </script>

  <% } %>



<% }else{ %>





    <h1>Is Admin</h1>     

<% } %>

         
</div>

<script src="js/addAwardMeritField.js" type="text/javascript"></script>


    <%- include('partials/footer.ejs') %>