<%- include('partials/header') %>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/promise-polyfill@7/dist/polyfill.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.js"></script>
<script type="text/javascript" src="/js/Dropbox-sdk.min.js"></script>
<link rel="stylesheet" href="/css/db.css" type="text/css">



<script>
    //active menu highlight
    $(document).ready(function(){
      $('li.nav-item.dropdown.myCategories').attr("style", "background-color:orange;");
      $('a.nav-link.dropdown-toggle.myCategories').attr("style", "color:#fff;");
    });
  </script>

 

<h1  class="fullSpan">My judging category: <%= artentries.category %></h1>
  
<button type="button" class="btn btn-primary m-2  btn-lg  buttonReturn" style="margin-left:5%;" ><a href="/artentries">Back to entries in this category</a></button>

<main class="centerRatingPage">
    <!-- <h1 class="ratingFormHeader"> <div class="orange">Category: </div>
        <div class="midGrey">A-1 Professional still media section </div> 
        Didactic/Instructional – Non-Commercial 
        <br>
    </h1>  make dynamic -->

    <h4 class="midGrey"></h4>

    <div class="row">
       
        <div class="col-8">
            <a href="<%= artentries.image %>" target="_blank" class="expandWinIcon orange halfRem" >  Enlarge <img src="/images/svg/expandWindow.svg" class="expandWinIcon" alt="expand Image">
            </a>
           <img src="<%= artentries.image %>" class="img-fluid imgScore" alt="<%= artentries.title %>">
           
        </div>
        <div class="col-4 mt-4" >
            <h2 class=""><div class="orange threeQuarterRem">
                Title: 
            </div><%= artentries.title %> </h2>
            <p> <div class="orange threeQuarterRem">Client: </div> <%= artentries.client %> </p>
            <p> <div class="orange threeQuarterRem">Format: </div> <%= artentries.format %> </p>
            <p> <div class="orange threeQuarterRem">Medium or Software Used: </div><%= artentries.medium_software %></p>
            <p> <div class="orange threeQuarterRem">Presentation format: </div><%= artentries.presentation_format %></p>
            <p> <div class="orange threeQuarterRem">Primary audience: </div><%= artentries.primaryAudience %></p>
            <p> <div class="orange threeQuarterRem">Intended purpose: </div><%= artentries.intended_purpose %></p>
       </div>
    </div>


    <script>
        //save radio selection

        function radioSelect( event, entryId, artEntryCategory){  
            const el =  event.target
            //console.log({  el })

            if(el.checked) {
                const selectedRadio = el.id;
                const getQuestionNum = el.parentNode.parentNode.classList[1];
                console.log({  selectedRadio,getQuestionNum });

                $.ajax('/score', {
                type: 'POST', 
                data: { getQuestionNum: getQuestionNum, selectedRadio: selectedRadio, entry: entryId, category: artEntryCategory   },
                dataType: 'json',
                success: function (data, status, xhr) {
                    console.log(data);
                    console.log(user);
                },
                error: function (jqXhr, textStatus, errorMessage) {
                    console.log(errorMessage);
                    }
                    });    
            }
         }


  </script>
<script>
    $( function() {
      $( "#accordion" ).accordion({
        collapsible: true,
        heightStyle: "content"
      });
    });
  </script>



<%- include('partials/questions_general') %> 


    
    <main style="width: 50%; margin:auto;" >
 <hr>

    <header  >
        <h1>
          Test Drop box integration
        </h1>
        <form class="root-path-wrap js-root-path__form">
          <h2><label for="root-path"> Folder Path</label></h2>
          <input
            type="text"
            name="root-path"
            id="root-path"
            class="js-root-path__input"
            value="/"
          />
          <button aria-label="Load path" class="dbx-btn" type="submit">
            &rarr;
          </button>
        </form>
      </header>
    


    </main>
  

<%- include('partials/footer') %>


  <!-- <article class="container radio"></article>
                       <ul>
                            <li>
                                <input onclick="radioSelect( event, '<%= artentries.id %>');" type="radio" id="0" name="rating" value="0" onclick="vote()" >
                                <label for="0"> 0 Failure </label>
                                <div class="check"><div class="inside"></div>
                            </li>
                            <li>
                                <input onclick="radioSelect( event, '<%= artentries.id %>');" type="radio" id="1" name="rating" value="1" >
                                <label for="1"> 1 Minimal/Poor  </label>
                                <div class="check"><div class="inside"></div>
                            </li>
                            <li>
                                <input onclick="radioSelect( event, '<%= artentries.id %>');" type="radio" id="2" name="rating" value="2" />
                                <label for="2">2 &nbsp Fair/low </label>
                                <div class="check"><div class="inside"></div>
                            </li>
                            <li>
                                <input onclick="radioSelect( event, '<%= artentries.id %>');" type="radio" id="3" name="rating" value="3" />
                                <label for="3"> 3 Average / Adequate</label>
                                <div class="check"><div class="inside"></div>
                            </li>
                            <li>
                                <input onclick="radioSelect( event, '<%= artentries.id %>');" type="radio" id="4" name="rating" value="4" />
                                <label for="4"> 4 Very Good / High   </label>
                                <div class="check"><div class="inside"></div>
                            </li>
                            <li>
                                <input onclick="radioSelect( event, '<%= artentries.id %>');" type="radio" id="5" name="rating" value="5" />
                                <label for="5">  5 Excellent / Very High  </label>
                                <div class="check"><div class="inside"></div>
                            </li>
                        </ul> -->


