<%- include('partials/header') %>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/promise-polyfill@7/dist/polyfill.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.js"></script>
<script type="text/javascript" src="/js/Dropbox-sdk.min.js"></script>
<link rel="stylesheet" href="/css/db.css" type="text/css">



<script>
    //active menu highlight
    $(document).ready(function(){
      $('li.nav-item.dropdown.myCategories').attr("style", "background-color:orange;");
      $('a.nav-link.dropdown-toggle.myCategories').attr("style", "color:#fff;");
    });
  </script>

 

<h1  class="fullSpan">My judging category: <span><%= artentries.category %></span>   </h1>
  
<button type="button" class="btn btn-primary m-2  btn-lg  buttonReturn" style="margin-left:5%;" ><a href="/artentries">Back to entries in this category</a></button>

<main class="centerRatingPage">
    <!-- <h1 class="ratingFormHeader"> <div class="orange">Category: </div>
        <div class="midGrey">A-1 Professional still media section </div> 
        Didactic/Instructional – Non-Commercial 
        <br>
    </h1>  make dynamic -->

    <h4 class="midGrey"></h4>

    <div class="row">
       
        <div class="col-8">
            <a href="<%= artentries.image %>" target="_blank" class="expandWinIcon orange halfRem" >  Enlarge <img src="/images/svg/expandWindow.svg" class="expandWinIcon" alt="expand Image">
            </a>
           <img src="<%= artentries.image %>" class="img-fluid imgScore" alt="<%= artentries.title %>">
           
        </div>
        <div class="col-4 mt-4" >
            <h2 class=""><div class="orange threeQuarterRem">
                Title: 
            </div><%= artentries.title %> </h2>
            <p> <div class="orange threeQuarterRem">Client: </div> <%= artentries.client %> </p>
            <p> <div class="orange threeQuarterRem">Format: </div> <%= artentries.format %> </p>
            <p> <div class="orange threeQuarterRem">Medium or Software Used: </div><%= artentries.medium_software %></p>
            <p> <div class="orange threeQuarterRem">Presentation format: </div><%= artentries.presentation_format %></p>
            <p> <div class="orange threeQuarterRem">Primary audience: </div><%= artentries.primaryAudience %></p>
            <p> <div class="orange threeQuarterRem">Intended purpose: </div><%= artentries.intended_purpose %></p>
       </div>
    </div>

    <div id="user"><%= artentries.judge %></div>

    <script>
        //save radio selection

        function radioSelect( event, entryId){  
            const el =  event.target;
            //console.log({  el })

            if(el.checked) {
                const entryId = window.location.href.substring(window.location.href.lastIndexOf('/') + 1);
                const selectedRadio = el.value; //el.id
                const getQuestionNum = el.parentElement.parentElement.classList[0];
                const notes = $("#notes").val();
                const user =  $("#user").text;
                const category = $('h1.fullspan span');
                const changeColorLive = $('.ui-state-active').attr('style', 'background:rgb(89, 139, 75)')


                console.log({ entryId, getQuestionNum, selectedRadio, notes, complete});

                $.ajax('/score', {
                type: 'POST', 
                data: { getQuestionNum: getQuestionNum,
                        selectedRadio: selectedRadio,
                        notes: notes,
                        entryId: entryId,
                        complete: complete,
                        user: user,

                     },
                dataType: 'json',
                success: function (data, status, xhr) {
                    console.log(data);
                    console.log(user);
                },
                error: function (jqXhr, textStatus, errorMessage) {
                    console.log(errorMessage);
                    }
                    });    
            }
         }

  </script>

  <script>
      $( function() {
        $( "#accordion1" ).accordion({
            active:false,
          collapsible: true,
          heightStyle: "content"
        });
      });
      $( function() {
        $( "#accordion2" ).accordion({
            active:false,
          collapsible: true,
          heightStyle: "content"
        });
      });
  </script>




<section id="scoring" name="">
    <h1 class="ratingFormHeader"> 
        <span> Scoring   </span> 
        <hr>
   
        <p> Part I: Communication/Problem Solving: </p>
    <div id="accordion1" class="<%= artentries.category %>"  >
     
         <h3 class="" aria-expanded="false">1: Conveys the message  </h3>
            <div class="ratingFormSubHeader " > 
                <form action="/show" method="POST" class="gnrl_part1_1_message ">
                    <p>Generally, medical/life sciences art is produced to convey a specific message or idea. How well does the illustration tell the story identified in the statement of purpose?</p>
                  
                    <label for="1-0">
                        <input onclick="radioSelect( event, '<%= artentries.id %>');" type="radio" id="1-0" name="rating" value="0"  <%= gnrl_part1_1_message == 0 ? 'checked' : '' %> /> 
                        0 Failure 
                    </label>
                    <label for="1-1">
                        <input onclick="radioSelect( event, '<%= artentries.id %>');" type="radio" id="1-1" name="rating" value="1"  <%= gnrl_part1_1_message == 1 ? 'checked' : '' %> /> 
                        1 Minimal/Poor      
                    </label>
                    <label for="1-2">
                        <input onclick="radioSelect( event, '<%= artentries.id %>');" type="radio" id="1-2" name="rating" value="2"  <%= gnrl_part1_1_message == 2 ? 'checked' : '' %> /> 
                        2 Fair/low    
                    </label>
                    <label for="1-3">
                        <input onclick="radioSelect( event, '<%= artentries.id %>');" type="radio" id="1-3" name="rating" value="3"  <%= gnrl_part1_1_message == 3 ? 'checked' : '' %> /> 
                        3 Average / Adequate
                    </label>
                    <label for="1-4">
                        <input onclick="radioSelect( event, '<%= artentries.id %>');" type="radio" id="1-4" name="rating" value="4"   <%= gnrl_part1_1_message == 4 ? 'checked' : '' %> />  
                        4 Very Good / High   
                    </label>
                    <label for="1-5">
                        <input onclick="radioSelect( event, '<%= artentries.id %>');" type="radio" id="1-5" name="rating" value="5"   <%= gnrl_part1_1_message == 5 ? 'checked' : '' %> /> 
                        5 Excellent / Very High   
                    </label>
                 </form>
        </div>
         <h3 class="">2: Appropriate for the intended audience:</h3>
            <div class="ratingFormSubHeader"> 
                <form action="/show" method="POST" class="gnrl_part1_2_audience">
                    <p>The simplicity or complexity of the artwork should be appropriate for the knowledge of the audience. For example, the medical/scientific content should match the background and knowledge of the intended end user, and informational complexity should be built on a foundation of relevance to that audience. Overloading with professional-level informational detail for the layman or the opposite, reduction of information into simplistic terms for an expert audience, would define an inappropriate content level.</p>
                  
                    <label for="2-0">
                        <input onclick="radioSelect( event, '<%= artentries.id %>');" type="radio" id="2-0" name="rating" value="0" <%= gnrl_part1_2_audience == 0 ? 'checked' : '' %> /> 
                        0 Failure 
                    </label>
                    <label for="2-1">
                        <input onclick="radioSelect( event, '<%= artentries.id %>');" type="radio" id="2-1" name="rating" value="1" <%= gnrl_part1_2_audience == 1 ? 'checked' : '' %> /> 
                        1 Minimal/Poor      
                    </label>
                    <label for="2-2">
                        <input onclick="radioSelect( event, '<%= artentries.id %>');" type="radio" id="2-2" name="rating" value="2"  <%= gnrl_part1_2_audience == 2 ? 'checked' : '' %> /> 
                        2 Fair/low    
                    </label>
                    <label for="2-3">
                        <input onclick="radioSelect( event, '<%= artentries.id %>');" type="radio" id="2-3" name="rating" value="3" <%= gnrl_part1_2_audience == 3 ? 'checked' : '' %> /> 
                        3 Average / Adequate
                    </label>
                    <label for="2-4">
                        <input onclick="radioSelect( event, '<%= artentries.id %>');" type="radio" id="2-4" name="rating" value="4"  <%= gnrl_part1_2_audience == 4 ? 'checked' : '' %> /> 
                        4 Very Good / High   
                    </label>
                    <label for="2-5">
                        <input onclick="radioSelect( event, '<%= artentries.id %>');" type="radio" id="2-5" name="rating" value="5" <%= gnrl_part1_2_audience == 5 ? 'checked' : '' %> /> 
                        5 Excellent / Very High   
                    </label>
                 </form>
        </div>
         <h3 class="">3: Degree of problem solving: </h3>
            <div class="ratingFormSubHeader">
               <form action="/show" method="POST" class="gnrl_part1_3_problemSolving">
                    <p>Consider the degree of problem solving expressed in the illustration and/or the uniqueness of the concept in the pictorial solution. Take into account obstacles presented by the conceptual and technical parameters of the job, as per the entry’s statement of purpose.</p>
                  
                    <label for="3-0">
                        <input onclick="radioSelect( event, '<%= artentries.id %>');" type="radio" id="3-0" name="rating" value="0" <%= gnrl_part1_3_problemSolving == 0 ? 'checked' : '' %> /> 
                        0 Failure 
                    </label>
                    <label for="3-1">
                        <input onclick="radioSelect( event, '<%= artentries.id %>');" type="radio" id="3-1" name="rating" value="1" <%= gnrl_part1_3_problemSolving == 1 ? 'checked' : '' %> /> 
                        1 Minimal/Poor      
                    </label>
                    <label for="3-2">
                        <input onclick="radioSelect( event, '<%= artentries.id %>');" type="radio" id="3-2" name="rating" value="2" <%= gnrl_part1_3_problemSolving == 2 ? 'checked' : '' %> /> 
                        2 Fair/low    
                    </label>
                    <label for="3-3">
                        <input onclick="radioSelect( event, '<%= artentries.id %>');" type="radio" id="3-3" name="rating" value="3" <%= gnrl_part1_3_problemSolving == 3 ? 'checked' : '' %> /> 
                        3 Average / Adequate
                    </label>
                    <label for="3-4">
                        <input onclick="radioSelect( event, '<%= artentries.id %>');" type="radio" id="3-4" name="rating" value="4" <%= gnrl_part1_3_problemSolving == 4? 'checked' : '' %> /> 
                        4 Very Good / High   
                    </label>
                    <label for="3-5">
                        <input onclick="radioSelect( event, '<%= artentries.id %>');" type="radio" id="3-5" name="rating" value="5" <%= gnrl_part1_3_problemSolving == 5 ? 'checked' : '' %> /> 
                        5 Excellent / Very High   
                    </label>
                 </form>
        </div>
         <h3 class="">4: Accuracy of medical or scientific information represented:</h3>
            <div class="ratingFormSubHeader">
                <form action="/show" method="POST" class="gnrl_part1_4_accuracy">
               
                    <p>The information must be accurate, depicting currently accepted standards of biological and anatomical relationships, relative scale and proportions. Pictorial manipulation or distortion of anatomical/scientific information is sometimes necessary or even preferred, but it should be done clearly, with purpose and knowledge. It should not be misleading or cause confusion. Note: this criterion is double weighted.</p>
                  
                    <label for="4-0">
                        <input onclick="radioSelect( event, '<%= artentries.id %>');" type="radio" id="4-0" name="rating" value="0" <%= gnrl_part1_4_accuracy == 0 ? 'checked' : '' %> /> 
                        0 Failure 
                    </label>
                    <label for="4-1">
                        <input onclick="radioSelect( event, '<%= artentries.id %>');" type="radio" id="4-1" name="rating" value="1"  <%= gnrl_part1_4_accuracy == 1 ? 'checked' : '' %> /> 
                        1 Minimal/Poor      
                    </label>
                    <label for="4-2">
                        <input onclick="radioSelect( event, '<%= artentries.id %>');" type="radio" id="4-2" name="rating" value="2"  <%= gnrl_part1_4_accuracy == 2 ? 'checked' : '' %> /> 
                        2 Fair/low    
                    </label>
                    <label for="4-3">
                        <input onclick="radioSelect( event, '<%= artentries.id %>');" type="radio" id="4-3" name="rating" value="3" <%= gnrl_part1_4_accuracy == 3 ? 'checked' : '' %>  /> 
                        3 Average / Adequate
                    </label>
                    <label for="4-4">
                        <input onclick="radioSelect( event, '<%= artentries.id %>');" type="radio" id="4-4" name="rating" value="4" <%= gnrl_part1_4_accuracy == 4 ? 'checked' : '' %> /> 
                        4 Very Good / High   
                    </label>
                    <label for="4-5">
                        <input onclick="radioSelect( event, '<%= artentries.id %>');" type="radio" id="4-5" name="rating" value="5" <%= gnrl_part1_4_accuracy == 5 ? 'checked' : '' %> /> 
                        5 Excellent / Very High   
                    </label>
                 </form>
        </div>
         <h3 class=""> 5: Clarity:</h3>
            <div class="ratingFormSubHeader">
                <form action="/show" method="POST" class="gnrl_part1_5_clarity">
                    <p>The pictorial or dimensional (e.g. anatomical models) information should be clear, direct, precise, and easily read. It should be unencumbered with excessive, confusing, and distracting peripheral information. When the artwork is presented as part of a series, information flow and consistency are taken into consideration.</p>
                  
                    <label for="5-0">
                        <input onclick="radioSelect( event, '<%= artentries.id %>');" type="radio" id="5-0" name="rating" value="0" <%= gnrl_part1_5_clarity == 0 ? 'checked' : '' %> /> 
                        0 Failure 
                    </label>
                    <label for="5-1">
                        <input onclick="radioSelect( event, '<%= artentries.id %>');" type="radio" id="5-1" name="rating" value="1" <%=  gnrl_part1_5_clarity == 1 ? 'checked' : '' %> /> 
                        1 Minimal/Poor      
                    </label>
                    <label for="5-2">
                        <input onclick="radioSelect( event, '<%= artentries.id %>');" type="radio" id="5-2" name="rating" value="2" <%=  gnrl_part1_5_clarity == 2 ? 'checked' : '' %> /> 
                        2 Fair/low    
                    </label>
                    <label for="5-3">
                        <input onclick="radioSelect( event, '<%= artentries.id %>');" type="radio" id="5-3" name="rating" value="3" <%=  gnrl_part1_5_clarity == 3 ? 'checked' : '' %> /> 
                        3 Average / Adequate
                    </label>
                    <label for="5-4">
                        <input onclick="radioSelect( event, '<%= artentries.id %>');" type="radio" id="5-4" name="rating" value="4" <%=  gnrl_part1_5_clarity == 4 ? 'checked' : '' %> /> 
                        4 Very Good / High   
                    </label>
                    <label for="5-5">
                        <input onclick="radioSelect( event, '<%= artentries.id %>');" type="radio" id="5-5" name="rating" value="5" <%=  gnrl_part1_5_clarity == 5 ? 'checked' : '' %> /> 
                        5 Excellent / Very High   
                    </label>
                 </form>
        </div>
    </div>

        <p>  Part II: Technique </p>
        <div id="accordion2" class="<%= artentries.category %>"  >
         
         <h3 class=""> 6: Effectiveness of technique and media for the intended presentation format:</h3>
            <div class="ratingFormSubHeader">
                <form action="/show" method="POST" class="gnrl_part2_6_technique">
                    <p>All basic reproduction criteria for the intended presentation format should be met, including: appropriate aspect ratio; proper use of color, tone, line, and type within the reproduction limitations of the format; size of rendered original in relation to final format; appropriate level of (reproducible) graphic complexity.</p>
                  
                    <label for="6-0">
                        <input onclick="radioSelect( event, '<%= artentries.id %>');" type="radio" id="6-0" name="rating" value="0"  <%=  gnrl_part2_6_technique == 0 ? 'checked' : '' %> />
                        0 Failure 
                    </label>
                    <label for="6-1">
                        <input onclick="radioSelect( event, '<%= artentries.id %>');" type="radio" id="6-1" name="rating" value="1"  <%=  gnrl_part2_6_technique == 1 ? 'checked' : '' %> />
                        1 Minimal/Poor      
                    </label>
                    <label for="6-2">
                        <input onclick="radioSelect( event, '<%= artentries.id %>');" type="radio" id="6-2" name="rating" value="2"  <%=  gnrl_part2_6_technique == 2 ? 'checked' : '' %> />
                        2 Fair/low    
                    </label>
                    <label for="6-3">
                        <input onclick="radioSelect( event, '<%= artentries.id %>');" type="radio" id="6-3" name="rating" value="3"  <%=  gnrl_part2_6_technique == 3 ? 'checked' : '' %> />
                        3 Average / Adequate
                    </label>
                    <label for="6-4">
                        <input onclick="radioSelect( event, '<%= artentries.id %>');" type="radio" id="6-4" name="rating" value="4"  <%=  gnrl_part2_6_technique == 4 ? 'checked' : '' %> />
                        4 Very Good / High   
                    </label>
                    <label for="6-5">
                        <input onclick="radioSelect( event, '<%= artentries.id %>');" type="radio" id="6-5" name="rating" value="5"  <%=  gnrl_part2_6_technique == 5 ? 'checked' : '' %> />
                        5 Excellent / Very High   
                    </label>
                 </form>
        </div>

         <h3 class="">7: Composition: </h3>
            <div class="ratingFormSubHeader">
                <form action="/show" method="POST" class="gnrl_part2_7_composition">
                    <p>The effective use of design elements to focus attention via placement and use of color, tone, or line; contrast; dynamics of form and shape; balance; unity of elements; and use of space. In illustrations where mood and drama are part of the treatment used to enhance the message or storytelling, evaluate the effectiveness of color and scenic lighting to create special effects. If 3D software is used, how effective is the framing, choice of camera lens, camera view and/or lighting?</p>               
                    <label for="7-0">
                        <input onclick="radioSelect( event, '<%= artentries.id %>');" type="radio" id="7-0" name="rating" value="0"  <%=  gnrl_part2_7_composition == 0 ? 'checked' : '' %> />
                        0 Failure 
                    </label>
                    <label for="7-1">
                        <input onclick="radioSelect( event, '<%= artentries.id %>');" type="radio" id="7-1" name="rating" value="1" <%=  gnrl_part2_7_composition == 1 ? 'checked' : '' %> />
                        1 Minimal/Poor      
                    </label>
                    <label for="7-2">
                        <input onclick="radioSelect( event, '<%= artentries.id %>');" type="radio" id="7-2" name="rating" value="2" <%=  gnrl_part2_7_composition == 2 ? 'checked' : '' %> />
                        2 Fair/low    
                    </label>
                    <label for="7-3">
                        <input onclick="radioSelect( event, '<%= artentries.id %>');" type="radio" id="7-3" name="rating" value="3" <%=  gnrl_part2_7_composition == 3 ? 'checked' : '' %> />
                        3 Average / Adequate
                    </label>
                    <label for="7-4">
                        <input onclick="radioSelect( event, '<%= artentries.id %>');" type="radio" id="7-4" name="rating" value="4" <%=  gnrl_part2_7_composition == 4 ? 'checked' : '' %> />
                        4 Very Good / High   
                    </label>
                    <label for="7-5">
                        <input onclick="radioSelect( event, '<%= artentries.id %>');" type="radio" id="7-5" name="rating" value="5"  <%=  gnrl_part2_7_composition == 5 ? 'checked' : '' %> />
                        5 Excellent / Very High   
                    </label>
                 </form>
        </div>
         <h3 class="">8: Draftsmanship: </h3>
            <div class="ratingFormSubHeader">
                <form action="/show" method="POST" class="gnrl_part2_8_draftsmanship">
                    <p>Overall drawing and rendering skill displayed in portraying objects and their setting, with attention to correct proportions and scale. When creating the illusion of depth, space and form, biological and medical art should exhibit dimensional quality, convincing perspective and effective use of form lighting and scenic lighting. If 3D software-based models are utilized in creation of the artwork, take into account whether or not objects appear properly proportioned and scaled with appropriate textures mapped to display the same qualities expected in non-3D media.</p>
                  
                    <label for="8-0">
                        <input onclick="radioSelect( event, '<%= artentries.id %>');" type="radio" id="8-0" name="rating" value="0" <%=  gnrl_part2_8_draftsmanship == 0 ? 'checked' : '' %> />
                        0 Failure 
                      </label>
                    <label for="8-1">
                        <input onclick="radioSelect( event, '<%= artentries.id %>');" type="radio" id="8-1" name="rating" value="1"   <%=  gnrl_part2_8_draftsmanship == 1 ? 'checked' : '' %> />
                        1 Minimal/Poor      
                    </label>
                    <label for="8-2">
                        <input onclick="radioSelect( event, '<%= artentries.id %>');" type="radio" id="8-2" name="rating" value="2"  <%=  gnrl_part2_8_draftsmanship == 2 ? 'checked' : '' %> />
                        2 Fair/low    
                    </label>
                    <label for="8-3">
                        <input onclick="radioSelect( event, '<%= artentries.id %>');" type="radio" id="8-3" name="rating" value="3" <%=  gnrl_part2_8_draftsmanship == 3 ? 'checked' : '' %> />
                        3 Average / Adequate
                    </label>
                    <label for="8-4">
                        <input onclick="radioSelect( event, '<%= artentries.id %>');" type="radio" id="8-4" name="rating" value="4"  <%=  gnrl_part2_8_draftsmanship == 4 ? 'checked' : '' %> />
                        4 Very Good / High   
                    </label>
                    <label for="8-5">
                        <input onclick="radioSelect( event, '<%= artentries.id %>');" type="radio" id="8-5" name="rating" value="5"  <%=  gnrl_part2_8_draftsmanship == 5 ? 'checked' : '' %> />
                        5 Excellent / Very High   
                    </label>
                 </form>
        </div>
         <h3 class="">9: Craftsmanship:</h3>
            <div class="ratingFormSubHeader">
                <form action="/show" method="POST" class="gnrl_part2_9_craftsmanship">
                    <p>The overall level of skill demonstrated in the application and handling of the technique and media.</p>
                  
                    <label for="9-0">
                        <input onclick="radioSelect( event, '<%= artentries.id %>');" type="radio" id="9-0" name="rating" value="0"  <%=  gnrl_part2_9_craftsmanship == 0 ? 'checked' : '' %> />
                        0 Failure 
                    </label>
                    <label for="9-1">
                        <input onclick="radioSelect( event, '<%= artentries.id %>');" type="radio" id="9-1" name="rating" value="1"  <%=  gnrl_part2_9_craftsmanship == 1 ? 'checked' : '' %> />
                        1 Minimal/Poor      
                    </label>
                    <label for="9-2">
                        <input onclick="radioSelect( event, '<%= artentries.id %>');" type="radio" id="9-2" name="rating" value="2"  <%=  gnrl_part2_9_craftsmanship == 2 ? 'checked' : '' %> />
                        2 Fair/low    
                    </label>
                    <label for="9-3">
                        <input onclick="radioSelect( event, '<%= artentries.id %>');" type="radio" id="9-3" name="rating" value="3"  <%=  gnrl_part2_9_craftsmanship == 3? 'checked' : '' %> />
                        3 Average / Adequate
                    </label>
                    <label for="9-4">
                        <input onclick="radioSelect( event, '<%= artentries.id %>');" type="radio" id="9-4" name="rating" value="4"   <%=  gnrl_part2_9_craftsmanship == 3 ? 'checked' : '' %> />
                        4 Very Good / High   
                    </label>
                    <label for="9-5">
                        <input onclick="radioSelect( event, '<%= artentries.id %>');" type="radio" id="9-5" name="rating" value="5"  <%=  gnrl_part2_9_craftsmanship == 4 ? 'checked' : '' %> />
                        5 Excellent / Very High   
                    </label>
                 </form>
        </div>



         <h3 class=""> Notes and Submit </h3>
            <div class="ratingFormSubHeader">
                <form action="/show" method="POST" class="gnrl_part2_9_craftsmanship">
                    <h2>Notes</h2>

                    <label for="notes">
                        <textarea type="text" id="notes" name="notes" onclick=""   rows="15" cols="50" placeholder="Thoughts?"></textarea>
                    </label>
                    <!-- <label for="winner">
                        <input type="checkbox" id="winner" name="winner" >
                        Winner (there can  be only one)
                    </label> -->
              
                    <button id="buttonComplete" type="button" class="scoreSubmitBtn btn btn-warning btn-block btn-lg" value='false' > Submit</button>
                 </form>
        </div>
    </ul>
</h1>
</section>



<script>
            
  function checkQuestionScored(){
   
    const part1 =  window.document.querySelectorAll('#accordion1 input' );
    const part2 =  window.document.querySelectorAll('#accordion2 input' );

      for(let i = 0; i < part1.length -1 ; i++ ){
       
        if(part1[i].defaultChecked === true){
          part1[i].parentNode.parentNode.parentNode.previousSibling.previousSibling.setAttribute("class","green");
        }
    }

      for(let i = 0; i < part2.length -1 ; i++ ){
       
        if(part2[i].defaultChecked === true){
          part2[i].parentNode.parentNode.parentNode.previousSibling.previousSibling.setAttribute("class","green");
        }
    }
  } 

  window.document.onload = checkQuestionScored();


</script>


    
    <main style="width: 50%; margin:auto;" >
 <hr>
      <div class="dbx_ViewFile"></div>
    <header  >
        <h1>
          Test Drop box integration
        </h1>
        <form class="root-path-wrap js-root-path__form">
          <h2><label for="root-path"> Folder Path</label></h2>
          <input
            type="text"
            name="root-path"
            id="root-path"
            class="js-root-path__input"
            value="/"
          />
          <button aria-label="Load path" class="dbx-btn" type="submit">
            &rarr;
          </button>
        </form>
      </header>
    
       <button type="button" class="dbx-btn js-organize-btn">Organize</button>
  
        <div class="dbx-list js-file-list">Nothing to see here</div>
         <footer>
          <ul class="log js-log hidden"></ul>
          <div class="date-range">
            <h2>Date Range</h2>
            <div class="js-date-range"></div>
          </div>
        </footer>

      <div class="loading js-loading">Loading...</div>

    </main>
  

<!-- <script src="/js/dropboxFileThumbSort.js"></script> -->
 

<script>

  
const dbx = new Dropbox.Dropbox({
  accessToken:
    "gvj_NKn0nmAAAAAAAAAAsN6qXFynvjYMbLLkTfDuzMsR9Fo67370GdPubgwG-JEX",
  fetch,
});

const fileListElem = document.querySelector(".dbx_ViewFile");
const newImg = document.createElement('img')


dbx.filesListFolder({  
  path: ''  
}).then(response => {
    const image1 = response.entries[1].path_lower;
    fileListElem.appendChild(newImg).setAttribute('src', image1);
    console.log(image1);
});

</script>
 
<%- include('partials/footer') %>


  <!-- <article class="container radio"></article>
                       <ul>
                            <li>
                                <input onclick="radioSelect( event, '<%= artentries.id %>');" type="radio" id="0" name="rating" value="0" onclick="vote()" >
                                <label for="0"> 0 Failure </label>
                                <div class="check"><div class="inside"></div>
                            </li>
                            <li>
                                <input onclick="radioSelect( event, '<%= artentries.id %>');" type="radio" id="1" name="rating" value="1" >
                                <label for="1"> 1 Minimal/Poor  </label>
                                <div class="check"><div class="inside"></div>
                            </li>
                            <li>
                                <input onclick="radioSelect( event, '<%= artentries.id %>');" type="radio" id="2" name="rating" value="2" />
                                <label for="2">2 &nbsp Fair/low </label>
                                <div class="check"><div class="inside"></div>
                            </li>
                            <li>
                                <input onclick="radioSelect( event, '<%= artentries.id %>');" type="radio" id="3" name="rating" value="3" />
                                <label for="3"> 3 Average / Adequate</label>
                                <div class="check"><div class="inside"></div>
                            </li>
                            <li>
                                <input onclick="radioSelect( event, '<%= artentries.id %>');" type="radio" id="4" name="rating" value="4" />
                                <label for="4"> 4 Very Good / High   </label>
                                <div class="check"><div class="inside"></div>
                            </li>
                            <li>
                                <input onclick="radioSelect( event, '<%= artentries.id %>');" type="radio" id="5" name="rating" value="5" />
                                <label for="5">  5 Excellent / Very High  </label>
                                <div class="check"><div class="inside"></div>
                            </li>
                        </ul> -->


